name: Docker CI

on:
  workflow_call:
    inputs:
      platforms:
        description: 'List of target platforms for Docker build.'
        required: true
        type: string
      image-name:
        description: 'A Docker image name passed from the caller workflow.'
        required: true
        type: string
      path:
        description: 'A path containing a Dockerfile passed from the caller workflow.'
        required: true
        type: string
      chaincode-label:
        description: 'An optional chaincode label passed from the caller workflow. If present, will prepare a chaincode package.'
        required: false
        type: string

jobs:
  build:
    permissions:
      contents: write
      packages: write
      id-token: write

    runs-on: ubuntu-latest
    outputs:
      image_digest: ${{ steps.push.outputs.digest }}

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.0
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
      with:
        images: |
          ${{ inputs.image-name }}
        tags: |
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}
          type=sha,format=long
    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Login to GitHub Container Registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      id: push
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: ${{ inputs.path }}
        platforms: ${{ inputs.platforms }}
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

  package:
    if: inputs.chaincode-label != '' && needs.build.outputs.image_digest != ''
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.0

    - name: Create package
      uses: hyperledgendary/package-k8s-chaincode-action@ba10aea43e3d4f7991116527faf96e3c2b07abc7
      with:
        chaincode-label: ${{ inputs.chaincode-label }}
        chaincode-image: ${{ inputs.image-name }}
        chaincode-digest: ${{ needs.build.outputs.image_digest }}

    - name: Rename package
      if: startsWith(github.ref, 'refs/tags/v')
      run: mv ${CHAINCODE_LABEL}.tgz ${CHAINCODE_LABEL}-${CHAINCODE_VERSION}.tgz
      env:
        CHAINCODE_LABEL: ${{ inputs.chaincode-label }}
        CHAINCODE_VERSION: ${{ github.ref_name }}

    - name: Upload package
      run: gh release upload $GITHUB_REF_NAME ${CHAINCODE_LABEL}-${CHAINCODE_VERSION}.tgz
      if: startsWith(github.ref, 'refs/tags/v')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CHAINCODE_LABEL: ${{ inputs.chaincode-label }}
        CHAINCODE_VERSION: ${{ github.ref_name }}
