name: Java Contract Image CI

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
    paths:
      - 'samples/java-contract/**'
  pull_request:
    branches:
      - 'main'
    paths:
      - 'samples/java-contract/**'

permissions: read-all

jobs:
  docker_build:
    name: Docker build
    permissions:
      contents: write
      packages: write
      id-token: write
    uses: ./.github/workflows/docker-build.yml
    with:
      image-name: ghcr.io/hyperledger-labs/fabric-builder-k8s/sample-java-contract
      path: samples/java-contract
      chaincode-label: java-contract
