name: Peer Image CI

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
    paths-ignore:
      - '*.md'
      - 'docs/**'
      - 'samples/**'
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - '*.md'
      - 'docs/**'
      - 'samples/**'

permissions: read-all

jobs:
  docker_build:
    name: Docker build
    uses: ./.github/workflows/docker-build.yml
    with:
      image-name: ghcr.io/hyperledger-labs/fabric-builder-k8s/k8s-fabric-peer
      path: .
